div {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Bubbleboddy-neue", sans-serif;
    color: #DA001E;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Bubbleboddy-neue", sans-serif;
    color: #151217;
}

section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    width: 30em;
    margin: 20px;
}

p {
    font-family: "Comfortaa", sans serif;
    margin: 20px;
}

/*smartphone uniquement*/
@media screen and (max-width: 768px) {
    img, section img {
        width: 20em;
    }

    section, article {
        display: flex;
        flex-direction: column;
    }
    
}